body{
    background-color: slategrey;
      margin: 0px
  }
  
  .navbar{
      display:flex;
      width:100%;
      background-color: grey;
      font-family: sans-serif ;
      height: 40px;
      justify-content: center;
      box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
      border-top: gold 5px solid;
      position: fixed;
      top:60px;
  }
  
  .navbar > .navItem {
    color: #fff;
    text-decoration: none;
    border-left: #F2E6D8 1px solid;
    border-right: #F2E6D8 1px solid;
    padding: 10px;
    transition: 0.3s;
  } 
  
  .navItem:hover {
    color: #000;
    background: #F2E6D8
  }
  
  .navbar > .navItem > a {
    color: #000;
    text-decoration: none;
  }
  
  .navbar > .navItem > a:visited {
    color: #000;
    text-decoration: none;
  }
  
  header{
  display: block;
  width: 100%;
  background-color: darkslategrey;
  font-family: sans-serif ;
  font-weight: bold;
  color: rgb(229, 205, 174);
  font-size: 50px ;
  text-align: center;
  height: 60px;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  
  
  }


  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkslategrey;
    color: rgb(229, 205, 174);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: darkslategrey;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: slategrey;
    padding: 100px;
    color: white;
    font-family: sans-serif ;
    font-weight: bold;
  }